<div class="container-fluid" style="padding-top:60px;">
  <div class="row">
      <div class="col-md-12" style="background-color:#0A64BE;">
        <h1>Grade 11 - Math</h1>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-6" style="background-color:#6A6D43;">
        <h1 class="text-justify"><a routerLink="/notes">Integers & Rational Numbers</a></h1> 
        <p>September 2017</p>
        <h3>Celeste D'Costa</h3>
    </div>
    <div class="col-md-6" style="background-color:#6A6D43;">
      <h1 class="text-justify"> Percentages & Radicals</h1> 
      <p>September 2017</p>
      <h3>Sherry D'Costa</h3>
  </div>
   
  </div>
  <div class="row">
      <div class="col-md-6" style="background-color:#6A6D43;">
          <h1 class="text-justify">Formulas</h1> 
          <p>April 2016</p>
          <h3>Kare Smith</h3>
      </div>
      <div class="col-md-6" style="background-color:#6A6D43;">
          <h1 class="text-justify">Integers & Rational Numbers</h1> 
          <p>June 2017</p>
          <h3>Celeste D'Costa</h3>
      </div>
  </div>
</div>
