<div class="container-fluid" style="padding-top:60px;">
  <div class="row">
      <div class="col-md-12" style="background-color:#0A64BE;">
        <h1>Integers & Rational Numbers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="background-color:#0A64BE;">
      <h3>Celeste D'costa September 2017</h3>
  </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <p>This is my first note on Integers and Rational number topic</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>This is my second note on Integers and Rational number topic</p>
    </div>
  </div>
  </div>