<div class="container-fluid" style="padding-top:60px;">
  <div class="row">
      <div class="col-md-12" style="background-color:#0A64BE;">
        <h1>Grade 11 Subjects</h1>
    </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-2" style="background-color:#6A6D43; cursor:pointer;">
        <h3 class="text-justify"><a routerLink="/topics">Math</a></h3> 
    </div>
    <div class="col-md-2" style="background-color:#6A6D43;">
        <h3 class="text-justify">Geography</h3>         
    </div>
    <div class="col-md-2" style="background-color:#6A6D43;">
        <h3 class="text-justify">History</h3>         
    </div>
    <div class="col-md-2" style="background-color:#6A6D43;">
        <h3 class="text-justify">English</h3>         
    </div>
    <div class="col-md-2" style="background-color:#6A6D43;">
      <h3 class="text-justify">French</h3>         
  </div>
  <div class="col-md-2" style="background-color:#6A6D43;">
      <h3 class="text-justify">Music</h3>         
  </div>
  </div>
  <div class="row">
      <div class="col-md-3" style="background-color:#6A6D43;">
          <h3 class="text-justify">Visual Arts</h3> 
      </div>
      <div class="col-md-3" style="background-color:#6A6D43;">
          <h3 class="text-justify">French Special</h3>         
      </div>
      <div class="col-md-6" style="background-color:#6A6D43;">
          <h3 class="text-justify">General Science</h3>         
      </div>

    </div>
</div>
</div>

